/* work sens font from google font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800;900&display=swap');

*{
    font-family: 'Work Sans', sans-serif;

}
.btn-primary{
    background-color: #FF900E;
    padding: 1.3rem 1.5rem; 
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600px;
    cursor: pointer;
}

.text-light-gray{
    color: #727272;
}

/* Header(nav) related css style */
header{
    background-color: #ff900e1a;
    padding: 15px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav >ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30PX;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    font-size:3rem;
    font-weight:700;
    color: #131313;
}
/* banner related css style */
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-content{
    max-inline-size: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-img{
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 2rem;
}



/* main section related css style start here */

main{
    max-width: 1440px;
    margin: 0 auto;
}
/* features section related css style */
.features-container{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-top: 4rem;
    
}
.features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.features-title{
    font-size: 3rem;
}
.quick-list{
    font-weight: 500;
}
.of-our{
    color: #131313;
    font-weight: 700;
}
.feature-text{
    color: #FF900E;
    font-weight: 700;
}


/* responsive media queries for mobile device */
@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav ,.features-container {
        flex-direction: column;
    } 
    .nav-title{
        align-items: center;
        font-size: 2rem;
        
    }
    nav li{
        list-style: none;
        margin-right: .7rem;
        font-weight: 600;
        font-size: 1rem;
    }
   
    .banner-description{
        padding-bottom: 2rem;
        padding: 0px 10px;
        width: 95%;
    }
    .banner-img{
        width: 95%;
    }

    /* features section related css style */

    .features-img{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .features-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .features-title{
        text-align: center;
    }
    .features-container{
        margin-top: 2rem;
        gap: .5rem;
    }
    .feture-description{
        padding-left: .4rem;
    }
    
}

/* responsive media queries for tablet device */
@media screen and (min-width: 576px) and (max-width:992px) {

    header{
        padding: 20px;
    }

    .features-container{
        flex-direction: column;
    }
    .features-content{
        display: flex;
        flex-direction:column;
       align-items: center;
    }
    .features-title{
        text-align: center;
    }
    .feture-description{
        margin: 0 4rem;
        margin-bottom: 30px;
        text-align: center;
    }

}